---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Industry-sponsored Research Projects</h2>

<p><u>Peak-hour Passenger Shifting to Reduce Congestion in Melbourne's Rail Network</u></br>
Monash University / Public Transport of Victoria (PTV)</br>
2019</p>

<p><u>U-SMILE: Data Analysis and Simulation of Amsterdam's Green Taxi Fleet</u></br>
Amsterdam University of Applied Sciences / Amsterdam City Council</br>
2018</p>

<p><u>Analysis of Impact of the New Light Rail System in Canberra's City Centre Traffic</u></br>
NICTA (Optimisation Research Group) / Australian Capital Territory (ACT) Government</br>
2015</p>

<p><u>Pilot Productivity in the Virgin Australia E190 Fleet</u></br>
NICTA (Optimisation Research Group) / Virgin Australia</br>
2014</p>

<p><u>Simulation and Analysis of Container Freight Train Operations at Port Botany</u></br>
NICTA (Optimisation Research Group) / NSW Ports (Sydney Ports Corporation)</br>
2013 – 2014</br>
<b>Awards and Honours:</b></br>
&nbsp;&nbsp;&nbsp;&nbsp;2014: Best Industry Project, NICTA, Optimisation Research Group, 2014</br>
&nbsp;&nbsp;&nbsp;&nbsp;2016: Media citations in <a href="http://www.smh.com.au/federal-politics/federal-election-2016/election-2016-port-botany-freight-line-would-be-duplicated-under-200m-labor-promise-20160517-goxak3.html" target="_blank">The Sydney Morning Herald</a>, 
<a href="http://www.theaustralian.com.au/federal-election-2016/federal-election-2016-shortens-plan-to-get-rail-road-traffic-moving/news-story/38eb9040c98e57d131c16c527f471bcd" target="_blank">The Australian</a> and 
<a href="https://www.lloydslistaustralia.com.au/lla/market-sectors/logistics-and-supply-chain/LOCAL-Port-Botany-rail-duplication-plans-challenged-526124.html" target="_blank">Lloyd's List Australia</a>. 
Featured article in <a href="https://theconversation.com/port-botany-doesnt-need-another-expensive-rail-project-here-is-the-evidence-54246" target="_blank">The Conversation</a>.</p>


<h2>Academic Research Projects</h2>

<p><u>HAROSA@IB: Iberoamerican Network for algorithms, open source software and distributed computing for solving routing, scheduling and availability problems</u></br>
Universitat Oberta de Catalunya</br>
2011 -- 2014</p>

<p><u>Simulation and Optimisation of Logistics and Manufacturing Systems</u></br>
Universidad Nacional Autónoma de México</br>
2011 -- 2014</p>

<p><u>LOGISIM: Modelling, Simulation and Optimisation of Logistics Systems</u></br>
Universitat Autònoma de Barcelona</br>
2005 -- 2013</p>

<p><u>Hybrid algorithms for solving realistic routing, scheduling and availability problems</u></br>
Universitat Oberta de Catalunya</br>
2009 -- 2012</p>


<h2>Software Licenses</h2>

<p><u>ITSLogisim Optimisation Suite 1.0</u></br>
Universitat Autònoma de Barcelona, Barcelona (Spain)</br>
Licensed to <i>Digital Aeronautics Engineering Services</i></br>
2010</p>

<p><u>ITSLogisim Simulation Suite 1.0</u></br>
Universitat Autònoma de Barcelona, Barcelona (Spain)</br>
Licensed to <i>Digital Aeronautics Engineering Services</i></br>
2010</p>