---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<h2>Journal Articles</h2>

<p><a href="https://doi.org/10.1007/s10479-022-04547-0" target="_blank" rel="noopener noreferrer">Constraint-based Robust Planning and Scheduling of Airport Apron Operations through Simheuristics</a></br>
Yagmur S. Gok, Silvia Padrón, Maurizio Tomasella, Daniel Guimarans, Cemalettin Ozturk</br>
<i>Annals of Operations Research (ANOR)</i>, 320, pp. 795-830, 2023. [<a href="../files/Gok_et_al_ANOR_2022.pdf">pdf</a>]</p>

<p><a href="https://doi.org/10.1111/itor.13104" target="_blank" rel="noopener noreferrer">A Stochastic Approach for Planning Airport Ground Support Resources</a></br>
Daniel Guimarans, Silvia Padrón</br>
<i>International Transactions in Operational Research (ITOR)</i>, 29 (6), pp. 3316-3345, 2022. [<a href="../files/Guimarans_Padron_ITOR_2022.pdf">pdf</a>]</p>

<p><a href="https://doi.org/10.1080/17477778.2019.1680262" target="_blank" rel="noopener noreferrer">A Simheuristic Algorithm for the Capacitated Location Routing Problem with Stochastic Demands</a></br>
Carlos L. Quintero-Araujo, Daniel Guimarans, Àngel A. Juan</br>
<i>Journal of Simulation (JOS)</i>, 15 (3), pp. 217-234, 2021. [<a href="../files/Quintero_et_al_JOS_2019.pdf">pdf</a>]</p>

<p><a href="https://www.worldscientific.com/doi/10.1142/S0217595919500209" target="_blank" rel="noopener noreferrer">An Improved Method for Scheduling Aircraft Ground Handling Operations from a Global Perspective</a></br>
Silvia Padrón, Daniel Guimarans</br>
<i>Asia-Pacific Journal of Operational Research (APJOR)</i>, 36 (4), pp. 1-25, 2019. [<a href="../files/Padron_Guimarans_APJOR_2019.pdf">pdf</a>]</p>

<p><a href="https://doi.org/10.1016/j.simpat.2018.09.004" target="_blank" rel="noopener noreferrer">A Simheuristic Approach for the Two-Dimensional Vehicle Routing Problem with Stochastic Travel Times</a></br>
Daniel Guimarans, Oscar Domínguez, Javier Panadero, Àngel A. Juan</br>
<i>Simulation Modelling Practice and Theory (SIMPAT)</i>, 89, pp. 1-14, 2018. [<a href="../files/Guimarans_et_al_SIMPAT_2018.pdf">pdf</a>]</p>

<p><a href="http://dx.doi.org/10.1016/j.ejor.2016.05.002" target="_blank" rel="noopener noreferrer">A Biased-Randomised Large Neighbourhood Search for the Two-Dimensional Vehicle Routing Problem with Backhauls</a></br>
Oscar Domínguez, Daniel Guimarans, Àngel A. Juan, Ignacio de la Nuez</br>
<i>European Journal of Operational Research (EJOR)</i>, 255, pp. 442-462, 2016. [<a href="../files/Dominguez_et_al_EJOR.pdf">pdf</a>]</p>

<p><a href="http://dx.doi.org/10.1016/j.cor.2015.12.010" target="_blank" rel="noopener noreferrer">A Bi-objective Approach for Scheduling Ground Handling Vehicles in Airports</a></br>
Silvia Padrón, Daniel Guimarans, Juan José Ramos, Salma Fitouri-Trabelsi</br>
<i>Computers &amp; Operations Research (COR)</i>, 71, pp. 34-53, 2016. [<a href="../files/Padron_et_al_COR.pdf">pdf</a>]</p>

<p><a href="http://dx.doi.org/10.1016/j.eswa.2015.09.011" target="_blank" rel="noopener noreferrer">A BRILS Metaheuristic for Non-Smooth Flow-Shop Problems with Failure-Risk Costs</a></br>
Albert Ferrer, Daniel Guimarans, Helena Ramalhinho, Àngel A. Juan</br>
<i>Expert Systems with Applications (ESWA)</i>, 44, pp. 177-186, 2016. [<a href="../files/Ferrer_et_al_ESWA.pdf">pdf</a>]</p>

<p><a href="http://onlinelibrary.wiley.com/doi/10.1111/itor.12101/abstract" target="_blank" rel="noopener noreferrer">Combining Biased Randomization with Iterated Local Search for Solving the Multi-depot Vehicle Routing Problem</a></br>
Àngel A. Juan, Iñaki Pascual, Daniel Guimarans, Barry Barrios</br>
<i>International Transactions in Operational Research (ITOR)</i>, 22 (4), pp. 647-667, 2015. [<a href="../files/Juan_et_al_ITOR.pdf">pdf</a>]</p>

<p><a href="http://dx.doi.org/10.1145/2666003" target="_blank" rel="noopener noreferrer">Rich Vehicle Routing Problem: Survey</a></br>
José Cáceres-Cruz, Pol Arias, Daniel Guimarans, Daniel Riera, Àngel A. Juan</br>
<i>ACM Computing Surveys (CSUR)</i>, 47 (2), pp. 1-28, 2014. [<a href="../files/Caceres_et_al_CSUR.pdf">pdf</a>]</p>

<p><a href="http://link.springer.com/article/10.1007/s10472-011-9261-y" target="_blank" rel="noopener noreferrer">Combining Probabilistic Algorithms, Constraint Programming and Lagrangian Relaxation to Solve the Vehicle Routing Problem</a></br>
Daniel Guimarans, Rosa Herrero, Daniel Riera, Àngel A. Juan, Juan José Ramos</br>
<i>Annals of Mathematics and Artificial Intelligence (AMAI)</i>, 62 (3-4), pp. 299-315, 2011. [<a href="../files/Guimarans_et_al_AMAI.pdf">pdf</a>]</p>

<p><a href="http://services.igi-global.com/resolvedoi/resolve.aspx?doi=10.4018/jisscm.2011040104" target="_blank" rel="noopener noreferrer">Solving Vehicle Routing Problems Using Constraint Programming and Lagrangian Relaxation in a Metaheuristics Framework</a></br>
Daniel Guimarans, Rosa Herrero, Juan José Ramos, Silvia Padrón</br>
<i>International Journal of Information Systems &amp; Supply Chain Management (IJISSCM)</i>, 4 (2), pp. 61-81, 2011. [<a href="../files/Guimarans_et_al_IJISSCM.pdf">pdf</a>]</p>


<h3>Working Papers</h3>

<p><a href="https://arxiv.org/abs/2505.03955" target="_blank" rel="noopener noreferrer">Hierarchical Forecast Reconciliation on Networks: A Network Flow Optimization Formulation</a></br>
Charupriya Sharma, Iñaki Estella Aguerri, Daniel Guimarans. [<a href="https://arxiv.org/pdf/2505.03955">pdf</a>]</p>

<p><a href="https://arxiv.org/abs/1512.03476" target="_blank" rel="noopener noreferrer">Simulation and Analysis of Container Freight Train Operations at Port Botany</a></br>
Daniel Guimarans, Daniel Harabor, Pascal Van Hentenryck. [<a href="https://arxiv.org/pdf/1512.03476">pdf</a>]</p>


<h2>Books</h2>
<p><a href="http://www.springer.com/us/book/9783319150321" target="_blank" rel="noopener noreferrer">Applied Simulation and Optimization: In Logistics, Industrial and Aeronautical Practice</a></br>
Miguel Mújica Mota, Idalia Flores, Daniel Guimarans (Eds.). ISBN 978-3-319-15032-1. Springer, 2015. </p>


<h2>Book Chapters</h2>
<p><a href="https://doi.org/10.1016/B978-0-12-814242-4.00004-1" target="_blank" rel="noopener noreferrer">A review of sustainability in aviation: a multidimensional perspective</a></br>
Daniel Guimarans, Pol Arias, Maurizio Tomasella, Cheng-Lung Wu</br> 
Javier Faulin, Scott Grasman, Àngel A. Juan, Patrick Hirsch (Eds.), <i>Sustainable Transportation and Smart Logistics</i>, Chapter 4 (pp. 91-121). ISBN 978-0-128-14242-4. Elsevier, 2019. [<a href="../files/Guimarans_et_al_Sustainable_Transport.pdf">pdf</a>]</p>

<p><a href="http://www.springer.com/us/book/9783319150321" target="_blank" rel="noopener noreferrer">Large Neighbourhood Search and Simulation for Disruption Management in the Airline Industry</a></br>
Daniel Guimarans, Pol Arias, Miguel Mújica Mota</br>
Miguel Mújica Mota, Idalia Flores, Daniel Guimarans (Eds.), <i>Applied Simulation and Optimization: In Logistics, Industrial and Aeronautical Practice</i>, Chapter 6 (pp. 169-201). ISBN 978-3-319-15032-1. Springer, 2015. [<a href="../files/Guimarans_et_al_SIMOPT.pdf">pdf</a>]</p>

<p><a href="http://www.igi-global.com/chapter/solving-vehicle-routing-problems-using/70628" target="_blank" rel="noopener noreferrer">Solving vehicle routing problems using constraint programming and lagrangian relaxation in a metaheuristics framework</a></br>
Daniel Guimarans, Rosa Herrero, Juan José Ramos, Silvia Padrón</br>
John Wang (Ed.), <i>Management Innovations for Intelligent Supply Chains</i>, Chapter 7 (pp. 123-143). ISBN 978-1-466-62461-0. IGI Global, 2013. [<a href="../files/Guimarans_et_al_IJISSCM.pdf">pdf</a>]</p>


<h2>Conference Articles</h2>

<p><u>A simheuristic approach for robust scheduling of airport turnaround teams</u></br>
Yagmur S. Gok, Maurizio Tomasella, Daniel Guimarans, Cemalettin Ozturk</br>
<i>Winter Simulation Conference (WSC 2020)</i>. Online venue; December, 2020. [<a href="../files/Gok_et_al_WSC_2020.pdf">pdf</a>]</p>

<p><u>Robust resource planning for aircraft ground operations</u></br>
Yagmur S. Gok, Daniel Guimarans, Peter J. Stuckey, Maurizio Tomasella, Cemalettin Ozturk</br>
<i>International Conference on the Integration of Constraint Programming, Artificial Intelligence, and Operations Research (CPAIOR 2020)</i>. Online venue; September, 2020. [<a href="../files/Gok_et_al_CPAIOR_2020.pdf">pdf</a>]</p>

<p><u>STTAR: A simheuristics-enabled scheme for multi-stakeholder coordination of aircraft turnaround operations</u></br>
Maurizio Tomasella, Alexandra Clare, Yagmur S. Gok, Daniel Guimarans, Cemalettin Ozturk</br>
<i>Winter Simulation Conference (WSC 2019)</i>. National Harbor, USA; December, 2019. [<a href="../files/Tomasella_et_al_WSC_2019.pdf">pdf</a>]</p>

<p><u>Peak-hour rail demand shifting with discrete optimisation</u></br>
John M. Betts, David L. Dowe, Daniel Guimarans, Daniel D. Harabor, Heshan Kumarage, Peter J. Stuckey, Michael Wybrow</br>
<i>International Conference on Principles and Practice of Constraint Programming (CP 2019)</i>. Stamford, USA; October, 2019. [<a href="../files/Betts_et_al_CP_2019.pdf">pdf</a>]</p>

<p><u>Using simulation to estimate critical paths and survival functions in aircraft turnaround processes</u></br>
Andrés San Antonio, Àngel A. Juan, Pau Fonseca, Daniel Guimarans, Laura Calvet</br>
<i>Winter Simulation Conference (WSC 2017)</i>. Las Vegas, USA; December, 2017. [<a href="../files/SanAntonio_et_al_WSC_2017.pdf">pdf</a>]</p>

<p><u>A simheuristic approach for solving the Aircraft Recovery Problem with stochastic delays</u></br>
Daniel Guimarans, Pol Arias, Wenjing Zhao</br>
<i>Metaheuristics International Conference (MIC 2017)</i>. Barcelona, Spain; July, 2017. [<a href="../files/Guimarans_et_al_MIC_2017.pdf">pdf</a>]</p>

<p><u>A simple and efficient metaheuristic for the Dynamic Flight Scheduling Problem</u></br>
Pol Arias, Daniel Guimarans, Àngel A. Juan</br>
<i>Metaheuristics International Conference (MIC 2017)</i>. Barcelona, Spain; July, 2017. [<a href="../files/Arias_et_al_MIC_2017.pdf">pdf</a>]</p>

<p><u>A multi-start simheuristic for the stochastic two-dimensional vehicle routing problem</u></br>
Daniel Guimarans, Oscar Domínguez, Àngel A. Juan, Enoc Martínez</br>
<i>Winter Simulation Conference (WSC 2016)</i>. Washington, USA; December, 2016. [<a href="../files/Guimarans_et_al_WSC_2016.pdf">pdf</a>]</p>

<p><u>Developing a mathematical model for scheduling of turnaround operations (low cost airline as a case study)</u></br>
Ammar Al-Bazi, Yagmur S. Gok, Cemalettin Ozturk, Daniel Guimarans</br>
<i>International Aviation Management Conference (IAMC 2016)</i>. Dubai, United Arab Emirates; November, 2016. [<a href="../files/AlBazi_et_al_IAMC_2016.pdf">pdf</a>]</p>

<p><u>ACO and CP working together to build a flexible tool for the Rich VRP</u></br>
Negar Zakerinejad, Daniel Riera, Daniel Guimarans</br>
<i>International Conference on Operations Research and Enterprise Systems (ICORES 2016)</i>. Rome, Italy; February, 2016. [<a href="../files/Zakerinejad_et_al_ICORES_2016.pdf">pdf</a>]</p>

<p><u>A hybrid heuristic for the 2L-VRP with clustered backhauls</u></br>
Oscar Domínguez, Daniel Guimarans, Àngel A. Juan</br>
<i>Conferencia de la Asociación Española para la Inteligencia Artificial (CAEPIA 2015)</i>. Albacete, Spain; September, 2015. [<a href="../files/Dominguez_et_al_CAEPIA_2015.pdf">pdf</a>]</p>

<p><u>Multi-objective optimisation for rolling upgrade allowing for failures in clouds</u></br>
Wei Sun, Daniel Guimarans, Alan Fekete, Vincent Gramoli, Liming Zhu</br>
<i>34th Symposium on Reliable Distributed Systems (SRDS 2015)</i>. Montreal, Canada; September, 2015. [<a href="../files/Sun_et_al_SRDS_2015.pdf">pdf</a>]</p>

<p><u>Scheduling ground-handling services: a bi-objective approach</u></br>
Daniel Guimarans, Silvia Padrón, Juan José Ramos, Salma Fitouri-Trabelsi</br>
<i>International Conference on Applied Operational Research (ICAOR)</i>. Vienna, Austria; July, 2015. [<a href="../files/Guimarans_et_al_ICAOR_2015.pdf">pdf</a>]</p>

<p><u>CPN-Simulation methodology for the boarding process of aircraft</u></br>
Miguel A. Mújica Mota, Idalia Flores, Daniel Guimarans</br>
<i>European Modelling and Simulation Symposium 2014</i>. Bourdeaux, France; September, 2014. [<a href="../files/Mujica_et_al_EMSS_2014.pdf">pdf</a>]</p>

<p><u>A methodology combining optimisation and simulation for real applications of the Stochastic Aircraft Recovery Problem</u></br>
Pol Arias, Daniel Guimarans, Miguel A. Mújica, Geert Boosten</br>
<i>EUROSIM 2013</i>. Cardiff (Wales), United Kingdom; September, 2013. [<a href="../files/Arias_et_al_EUROSIM_2013.pdf">pdf</a>]</p>

<p><u>A new methodology to solve the Stochastic Aircraft Recovery Problem using optimisation and simulation</u></br>
Pol Arias, Daniel Guimarans, Miguel A. Mújica</br>
<i>International Conference on Interdisciplinary Science for Innovative Air Traffic Management (ISIATM)</i>. Toulouse, France; July, 2013. [<a href="../files/Arias_et_al_ISIATM_2013.pdf">pdf</a>]</p>

<p><u>Supply chain simulation methods analysis: an application to the Beer Game</u></br>
Daniel Guimarans, Julija Petuhova, Yuri Merkuryev, Juan José Ramos</br>
<i>European Modelling and Simulation Symposium 2010</i>. Fez, Morocco; October, 2010. [<a href="../files/Guimarans_et_al_HMS_2010.pdf">pdf</a>]</p>

<p><u>Intelligent platform for sustainable routing</u></br>
Juan José Ramos, Silvia Padrón, Laura Guillén, Miquel Àngel Piera, Daniel Guimarans, Rosa Herrero</br>
<i>XV Summer School 'Francesco Turco'</i>. Porto Giardino, Italy; September, 2010. [<a href="../files/Ramos_et_al_FrancescoTurco_2010.pdf">pdf</a>]</p>

<p><u>Lagrangian metaheuristic for the Travelling Salesman Problem</u></br>
Rosa Herrero, Juan José Ramos, Daniel Guimarans</br>
<i>Operations Research Society Annual Conference (OR52)</i>. Surrey, United Kingdom; September, 2010. [<a href="../files/Herrero_et_al_OR52_2010.pdf">pdf</a>]</p>

<p><u>A Variable Neighbourhood Search combining Constraint Programming and Lagrangian Relaxation for solving routing problems</u></br>
Rosa Herrero, Daniel Guimarans, Juan José Ramos, Silvia Padrón</br>
<i>Summer Computer Simulation Conference 2010</i>. Ottawa, Canada; July, 2010. [<a href="../files/Herrero_et_al_SCSC_2010.pdf">pdf</a>]</p>

<p><u>Combining Constraint Programming, Lagrangian Relaxation and probabilistic algorithms to solve the Vehicle Routing Problem</u></br>
Daniel Guimarans, Rosa Herrero, Daniel Riera, Àngel A. Juan, Juan José Ramos</br>
<i>RCRA International Workshop 2010 (CP-AI-OR'10)</i>. Bologna, Italy; June, 2010. [<a href="../files/Guimarans_et_al_RCRA_2010.pdf">pdf</a>]</p>

<p><u>A hybrid Constraint Programming / local search approach to the Pick-up and Delivery Problem with Time Windows</u></br>
Daniel Guimarans, Juan José Ramos, Mark Wallace, Daniel Riera</br>
<i>European Modelling and Simulation Symposium 2009</i>. Puerto de la Cruz (Tenerife), Spain; September, 2009. [<a href="../files/Guimarans_et_al_EMSS_2009.pdf">pdf</a>]</p>

<p><u>Solving the Travelling Salesman Problem with Time Windows by Lagrangian Relaxation</u></br>
Rosa Herrero, Daniel Guimarans, Juan José Ramos</br>
<i>European Modelling and Simulation Symposium 2009</i>. Puerto de la Cruz (Tenerife), Spain; September, 2009. [<a href="../files/Herrero_et_al_EMSS_2009.pdf">pdf</a>]</p>

<p><u>A Constraint Programming-based library for the Vehicle Routing Problem</u></br>
Daniel Riera, Àngel A. Juan, Daniel Guimarans, Estel·la Pagans</br>
<i>European Modelling and Simulation Symposium 2009</i>. Puerto de la Cruz (Tenerife), Spain; September, 2009. [<a href="../files/Riera_et_al_EMSS_2009.pdf">pdf</a>]</p>

<p><u>Expanding virtual laboratories through guiding and assessment: an expert system approach</u></br>
Pedro Balaguer, Asier Ibeas, Carles Pedret, Daniel Guimarans, Roman Buil</br>
<i>5th IADAT International Conference on Education</i>. Bilbao, Spain; June, 2009.</p>

<p><u>A two-stage approach for the emergency services coordination problem in a road accident</u></br>
Daniel Guimarans, Juan José Ramos</br>
<i>European Modelling and Simulation Symposium 2007</i>. Genoa, Italy; October, 2007. [<a href="../files/Guimarans_Ramos_EMSS_2007.pdf">pdf</a>]</p>

<p><u>Un entorno de simulación para el diseño de herramientas de toma de decisiones en logística de transporte</u></br>
Daniel Guimarans, Juan José Ramos, Miquel Àngel Piera, Antoni Guasch</br>
<i>Congreso Español De Informática (CEDI 2007) - Simposio de Modelado y Simulación de Sistemas Dinámicos</i>. Zaragoza, Spain; September, 2007. [<a href="../files/Guimarans_et_al_SIMOSI_2007.pdf">pdf</a>]</p>

<p><u>A technological platform for designing real-time decision tools in transportation logistics</u></br>
Juan José Ramos, Daniel Guimarans, Miquel Àngel Piera, Antoni Guasch</br>
<i>European Modelling and Simulation Symposium 2006</i>. Barcelona, Spain; October, 2006. [<a href="../files/Ramos_et_al_EMSS_2006.pdf">pdf</a>]</p>

<p><u>A simulation based decision tool to coordinate emergency services in a road accident</u></br>
Daniel Guimarans, Juan José Ramos, Miquel Àngel Piera, Antoni Guasch</br>
<i>Summer Computer Simulation Conference 2006</i>. Calgary, Canada; July, 2006. [<a href="../files/Guimarans_et_al_SCSC_2006.pdf">pdf</a>]</p>


<h2>Public Media</h2>

<p><a href="https://theconversation.com/port-botany-doesnt-need-another-expensive-rail-project-here-is-the-evidence-54246" target="_blank" rel="noopener noreferrer">Port Botany doesn't need another expensive rail project --- here is the evidence.</a></br>
Daniel Harabor, Daniel Guimarans, Pascal Van Hentenryck</br>
<i>The Conversation</i>. February 10<sup>th</sup>, 2016.</p>
