---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %} -->

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

<!-- {% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %} -->
<!-- {% endfor %} -->

<h2>Keynote Presentations</h2>

<p><u>Middle-mile logistics at scale: A pragmatic science perspective</u></br>
<i>OPTIMA-Con 2024</i>. Melbourne, Australia; July, 2024.</p>

<p><u>Simulation and Optimisation: We are here to help!</u></br>
<i>International Conference on Air Transport (INAIR) 2015</i>. Amsterdam, Netherlands; November, 2015.</p>


<h2>Conference and Workshop Presentations</h2>

<p><u>A scalable solution to joint routing and sorting problems</u></br>
Charupriya Sharma, George Iosifidis, Daniel Guimarans, Amit Kumar, Georgios Paschos</br>
<i>European Conference on Operational Research (EURO)</i>. Copenhagen, Denmark; July, 2024.</p>

<p><u>Cross-organisational Coordination in Apron Operations</u></br>
Silvia Padrón, Maurizio Tomasella, Elisa Guardo, Daniel Guimarans, Cemalettin Ozturk</br>
<i>European Conference on Operational Research (EURO)</i>. Copenhagen, Denmark; July, 2024.</p>

<p><u>Long-term Capacity and Topology Planning for a Large Delivery Network</u></br>
Cansu Agrali, Onur Can Saka, Faheem Zafari, Daniel Guimarans, George Iosifidis, Amit Kumar</br>
<i>INFORMS Annual Meeting</i>. Phoenix, USA; October, 2023.</p>

<p><u>Constraint-Based Robust Scheduling of Apron Operations through Simheuristics</u></br>
Yagmur S. Gok, Silvia Padrón, Maurizio Tomasella, Daniel Guimarans, Cemalettin Ozturk</br>
<i>INFORMS Annual Meeting</i>. Anaheim, USA; October, 2021.</p>

<p><u>A simheuristic approach to solve tactical airport ground service equipment planning</u></br>
Yagmur S. Gok, Maurizio Tomasella, Daniel Guimarans, Cemalettin Ozturk</br>
<i>Winter Simulation Conference (WSC)</i>. National Harbor, USA; December, 2019.</p>

<p><u>A Simheuristic Algorithm for the Capacitated Location Routing Problem with Stochastic Demands</u></br>
Carlos Quintero-Araujo, Daniel Guimarans, Àngel A. Juan</br>
<i>Metaheuristics International Conference (MIC)</i>. Cartagena, Colombia; July, 2019.</p>

<p><u>A hybrid simulation-optimisation approach for scheduling airport ground service equipment</u></br>
Yagmur S. Gok, Maurizio Tomasella, Daniel Guimarans, Cemalettin Ozturk, Silvia Padrón</br>
<i>European Conference on Operational Research (EURO)</i>. Dublin, Ireland; June, 2019.</p>

<p><u>A decision support system to assist airport operators solving terminal disruptions ASAP</u></br>
Daniel Guimarans, Arjen Peters, Younes Boulaksil</br>
<i>European Conference on Operational Research (EURO)</i>. Valencia, Spain; July, 2018.</p>

<p><u>New efficient heuristics to solve tactical airport check-in allocation problems</u></br>
Yagmur S. Gok, Maurizio Tomasella, Daniel Guimarans, Cemalettin Ozturk</br>
<i>European Conference on Operational Research (EURO)</i>. Valencia, Spain; July, 2018.</p>

<p><u>Using simulation for evaluating ground handling solutions reliability under stochastic conditions</u></br>
Silvia Padrón, Daniel Guimarans</br>
<i>ROADEF 2018</i>. Lorient, France; February, 2018.</p>

<p><u>A Constraint Programming approach for the airport gate assignment problem considering regular and disrupted operations</u></br>
Daniel Guimarans</br>
<i>Conference of the International Federation of Operational Research Societies (IFORS) 2017</i>. Quebec City, Canada; July, 2017.</p>

<p><u>A hybrid approach for the two-dimensional vehicle routing problem with balanced load (2BL-VRP)</u></br>
Daniel Guimarans, Pol Arias, Gilbert Laporte</br>
<i>Conference of the International Federation of Operational Research Societies (IFORS) 2017</i>. Quebec City, Canada; July, 2017.</p>

<p><u>Real-Time Field Service Engineer Scheduling Problem with Emergencies and Collaborations: a Simulation-Optimization Approach</u></br>
Hanna Grzybowska, Daniel Guimarans</br>
<i>Transportation Research Board 2017 Annual Meeting (TRB)</i>. Washington, USA; January, 2017.</p>

<p><u>Real-Time Field Service Engineer Scheduling Problem with Emergencies and Collaborations: a Simulation-Optimisation Approach</u></br>
Daniel Guimarans, Hanna Grzybowska</br>
<i>European Conference on Operational Research (EURO)</i>. Poznan, Poland; July, 2016.</p>

<p><u>Scheduling ground operations for improved aircraft turnaround performance: A Turkish low-cost airline case study</u></br>
Yagmur S. Gok, Ammar Al-Bazi, Cemalettin Ozturk, Daniel Guimarans</br>
<i>European Conference on Operational Research (EURO)</i>. Poznan, Poland; July, 2016.</p>

<p><u>There's more than one way to solve a long-haul transportation problem</u></br>
Philip Kilby, Ignasi Abio, Daniel Guimarans, Daniel Harabor, Patrik Haslum, Valentin Mayer-Eichberger, Fazlul Siddiqui, Sylvie Thiebaux, Tommaso Urli</br>
<i>EURO Working Group on Vehicle Routing and Logistics Optimization (VeRoLog)</i>. Vienna, Austria; June, 2015.</p>

<p><u>Ant Colony Optimization and Constraint Programming Working Together for Routing in Smart Cities</u></br>
Negar Zakerinejad, Daniel Riera, Daniel Guimarans</br>
<i>Second Workshop on Optimization for Smart Cities - Opt4SmartCities (CP-AI-OR'15)</i>. Barcelona, Spain; May, 2015.</p>

<p><u>A simulation approach to analyse rail capacity at Sydney's Port Botany</u></br>
Daniel Guimarans, Daniel Harabor, Pascal Van Hentenryck</br>
<i>Conference of the International Federation of Operational Research Societies (IFORS) 2014</i>. Barcelona, Spain; July, 2014.</p>

<p><u>Scheduling container trains at Port Botany</u></br>
Daniel Guimarans, Daniel Harabor, Pascal Van Hentenryck</br>
<i>Conference of the International Federation of Operational Research Societies (IFORS) 2014</i>. Barcelona, Spain; July, 2014.</p>

<p><u>A large neighbourhood search combined with Monte Carlo simulation to cope with airlines operational disruptions</u></br>
Daniel Guimarans, Pol Arias, Miguel A. Mújica Mota</br>
<i>Conference of the International Federation of Operational Research Societies (IFORS) 2014</i>. Barcelona, Spain; July, 2014.</p>

<p><u>Solving non-smooth flow-shop problems with failure-risk penalties using biased-randomized local search</u></br>
Albert Ferrer, Daniel Guimarans, Helena Ramalhinho, Àngel A. Juan</br>
<i>Conference of the International Federation of Operational Research Societies (IFORS) 2014</i>. Barcelona, Spain; July, 2014.</p>

<p><u>Solving the R<sup>2</sup>VRP (Real Rich VRP)</u></br>
Daniel Riera, Daniel Guimarans, Pol Arias, José Cáceres, Àngel A. Juan</br>
<i>CYTED-HAROSA Workshop</i>. Valparaíso, Chile; November, 2012.</p>

<p><u>On the use of Constraint Programming and metaheuristics for solving routing problems</u></br>
Daniel Guimarans</br>
<i>IN3-HAROSA International Workshop for Junior Researchers</i>. Barcelona, Spain; July, 2012.</p>

<p><u>Hybrid algorithms for solving routing problems</u></br>
Daniel Guimarans</br>
<i>IN3-HAROSA International Workshop</i>. Barcelona, Spain; June, 2012.</p>

<p><u>Combining metaheuristics, Constraint Programming and Lagrangian Relaxation to tackle routing problems</u></br>
Daniel Guimarans, Juan José Ramos, Rosa Herrero, Silvia Padrón</br>
<i>IN3-HAROSA International Workshop</i>. Barcelona, Spain; November, 2010.</p>
